<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item "><a {{#if index}} class="active"{{/if}} href="/" >Shop</a></li>
            <li class="main-header__item"><a {{#if shop}} class="active"{{/if}} href="/products">Products</a></li>
            {{#if isLoggedIn}}
            <li class="main-header__item "><a {{#if cart}} class="active"{{/if}} href="/cart">Cart</a></li>
            <li class="main-header__item "><a {{#if orders}} class="active"{{/if}} href="/orders">Orders</a></li>
            <li class="main-header__item "><a {{#if adminProducts}} class="active"{{/if}} href="/admin/products">Admin Product</a></li>
            <li class="main-header__item "><a {{#if addProduct}} class="active"{{/if}} href="/admin/add-product">Add Product</a></li>
            {{/if}}
        </ul>
        <ul class="main-header__item-list">
            {{#if isLoggedIn}}
            <li class="main-header__item">
                <form action="/logout" method="POST">
                <button type="submit">Logout</button>
                </form>
            </li>
            {{else}}
            <li class="main-header__item"><a class="" href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>